.calc {
  height: 100%;
  @include flex-center();
  align-items: flex-start;

  .content {
    flex-grow: 1;
  }
}

.nav {
  flex-shrink: 0;
  margin-right: 30px;
}

.alarmCalc {

  @include flex-center();
  flex-shrink: 0;

  .left {
    flex-shrink: 0;
    width: 300px;
    margin-top: 80px;

    h3 {
      color: skyblue;
      margin-bottom: 30px;
    }

    .queryForm {
      margin-top: 30px;
    }
  }

  .right {
    flex-grow: 1;
    width: 0;
    margin-left: 30px;
    margin-top: 30px;
    padding: 30px;
    background: url('@/assets/images/bgc/calc_big.png') no-repeat;
    background-size: 100% 100%;

    .rightHeader {
      @include flex-sb();
      margin-bottom: 50px;

      .btn {
        @include flex-sb();
        width: 220px;
      }
    }
  }
}

.carCalc {
    .carCalHeader {
      @include flex-center();
      margin-top: 30px;
      justify-content: left;

      .carCalctit {
        margin-right: 50px;
        color: skyblue;
        font-size: 14px;
      }

      .formWrap {
        width: 350px;
        @include flex-sb();
        .carCalcForm {
          flex-grow: 1;
        }
        .carCalcBtn {
          margin-left: 30px;
        }
      }

      :global(.ant-form-item) {
        margin: 0;
      }
    }
    .calcContent {
      margin-top: 20px;
      .calcPage {
        margin-top: 20px;
      }
    }
}