.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  -ms-overflow-style: none;

  .login {
    @include position-center();
    width: 100%;
    height: 100%;
    background: url('@/assets/images/bgc/login_bgc.png') no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
  }

  .left {
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
    padding: 0 80px;
    background: url('@/assets/images/bgc/login_box.png') no-repeat;
    background-size: cover;
  }

  .loginForm {
    margin-top: 100px;

    :global(.ant-form-item) {
      margin-bottom: 45px !important;
    }
    .loginFormButton {
      width: 100%;
      height: 56px;
      background: url('@/assets/images/btn/login_btn.png') no-repeat;
      background-size: 100% 100%;
      border-style: none;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(0.97);
      }
    }
  }
}