.result {
  @include flex-center();
  justify-content: left;
  align-items: flex-start;
  .result-left {
    width: 200px;
    margin-top: 30px;
    margin-right: 20px;
  }
  .result-content {
    flex-grow: 1; 
    // .result-page {
    //   margin-top: 20px;
    // }
  }
}