.set-sys {
  .set-sys-sample {
    margin: 20px 0;
    .set-sys-sample-check {
      margin-bottom: 10px;
    }
    .set-sys-sample-path {
      margin: 10px 0;
    }
  }
  .set-sys-vol {
    margin-top: 20px;
    .set-sys-vol-tool {
      @include flex-center();
      .set-sys-vol-slider {
        flex-grow: 1;
      }
    }
  }
}