.tec-alarm-mask {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000, $alpha: .75);
  @include position-center();
}

.tec-alarm {
  width: 800px;
  @include position-center();
  transition: all .3s ease-in-out;

  h3 {
    width: 100%;
    height: 40px;
    color: #FFF;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: #02326D;
    position: relative;

    i {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 20px;
      color: #333;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;

      &:hover {
        background-color: rgb(197, 194, 194);
      }
    }
  }

  .tec-alarm-wrop {
    @include flex-center();
    background-color: #041B3A;
    padding: 20px;
    .tec-alarm-left {
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;

      .tec-alarm-lt {
        flex: 1;
        width: 100%;
        margin-bottom: 10px;
        background: url('@/assets/images/bgc/screen_bgc.png') no-repeat;
        background-size: 100% 100%;
      }

      .tec-alarm-lb {
        height: 100px;
        @include flex-sb();

        ul {
          flex: 1;
          @include flex-center();
          overflow: auto;

          li {
            height: 100%;
            width: 135px;
            margin: 0 5px;
            flex-shrink: 0;
          }
        }
      }
    }

    .tec-alarm-right {
      flex: 1;
      margin-left: 20px;
      @include flex-sb();
      flex-direction: column;
      .tec-alarm-rt {
        flex: 1;
        width: 100%;
        padding: 20px 10px;
        background-color: #0a418a;
        border-radius: 8px;
        margin: 20px 0;
        .title {
          border-bottom: 1px solid $color-border;
          padding-bottom: 20px;
          h4 {
            color: #fff;
            margin-bottom: 10px;
          }
        }
        .content {
          p {
            margin: 20px 0;
          }
        }
      }
      .tec-alarm-rb {
        flex: 1;
      }
    }
  }
}