.appCom {
  @include flex-center();
  justify-content: left;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  .nav {
    flex-shrink: 0;
    margin-right: 30px;
  }
  .content {
    flex-grow: 1;
    height: 100%;
  }
}