.plan {
  @include flex-center();
  justify-content: right;
  align-items: flex-start;
  .plan-right {
    width: 300px;
    margin-left: 20px;
    .plan-right-opt {
      margin-top: 100px;
    }
  }
  .plan-content {
    flex-grow: 1;
    .plan-page {
      margin-top: 20px;
    }
  }
}